In [1]:
## 3. Four different  LABORATORY RESULTS

In [2]:
import scipy.stats as stats
import seaborn as sns
import scipy as sp
import pandas as pd
import numpy as np
%matplotlib inline
import statsmodels.api as sm
import statsmodels.formula.api as smf
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest
df=pd.read_csv("C:/Users/khann/OneDrive/Desktop/excel r assignments/LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
Laboratory_1=df['Laboratory 1'].mean()
Laboratory_2=df['Laboratory 2'].mean()
Laboratory_3=df['Laboratory 3'].mean()
Laboratory_4=df['Laboratory 4'].mean()

In [4]:
print('Laboratory 1 Mean = ',Laboratory_1 ,'Laboratory 2 Mean = ',Laboratory_2, 'Laboratory 3 Mean = ',Laboratory_3,'Laboratory 4 Mean = ',Laboratory_4)

Laboratory 1 Mean =  178.36158333333339 Laboratory 2 Mean =  178.9029166666668 Laboratory 3 Mean =  199.91325000000003 Laboratory 4 Mean =  163.6827499999999

In [5]:
print('Laboratory_1 > Laboratory_2 = ',Laboratory_1 > Laboratory_2)
print('Laboratory_2 > Laboratory_3 = ',Laboratory_2 > Laboratory_3)
print('Laboratory_3 > Laboratory_4 = ',Laboratory_3 > Laboratory_4)
print('Laboratory_4 > Laboratory_1 = ',Laboratory_4 > Laboratory_1)

Laboratory_1 > Laboratory_2 =  False
Laboratory_2 > Laboratory_3 =  False
Laboratory_3 > Laboratory_4 =  True
Laboratory_4 > Laboratory_1 =  False

In [6]:
##The Null and Alternative Hypothesis

##There are no significant differences between the groups' mean Lab values. H0:μ1=μ2=μ3=μ4=μ5

##There is a significant difference between the groups' mean Lab values. Ha:μ1≠μ2≠μ3≠μ4

In [7]:
alpha=0.05
Lab1=pd.DataFrame(df['Laboratory 1'])
Lab2=pd.DataFrame(df['Laboratory 2'])
Lab3=pd.DataFrame(df['Laboratory 3'])
Lab4=pd.DataFrame(df['Laboratory 4'])
print(Lab1,Lab1,Lab3,Lab4)

     Laboratory 1
0          185.35
1          170.49
2          192.77
3          177.33
4          193.41
..            ...
115        178.49
116        176.08
117        202.48
118        182.40
119        182.09

[120 rows x 1 columns]      Laboratory 1
0          185.35
1          170.49
2          192.77
3          177.33
4          193.41
..            ...
115        178.49
116        176.08
117        202.48
118        182.40
119        182.09

[120 rows x 1 columns]      Laboratory 3
0          176.70
1          198.45
2          201.23
3          199.61
4          204.63
..            ...
115        193.80
116        215.25
117        203.99
118        194.52
119        221.49

[120 rows x 1 columns]      Laboratory 4
0          166.13
1          160.79
2          185.18
3          176.42
4          152.60
..            ...
115        172.68
116        177.64
117        170.27
118        150.87
119        162.21

[120 rows x 1 columns]

In [8]:
tStat, pvalue = sp.stats.f_oneway(Lab1,Lab2,Lab3,Lab4)
print("P-Value:{0} T-Statistic:{1}".format(pvalue,tStat))

P-Value:[2.11567089e-57] T-Statistic:[118.70421654]

In [9]:
if pvalue < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

we reject null hypothesis

In [11]:
##we reject null hypothesis
###Inference is that there no significant difference in the average TAT for all the labs.

In [12]:
## 4.telecalls defective percentage with respect to regions

In [13]:
Customer = pd.read_csv('C:/Users/khann/OneDrive/Desktop/excel r assignments/Costomer+OrderForm.csv')
Customer.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [14]:
Customer.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [15]:
Phillippines_value=Customer['Phillippines'].value_counts()
Indonesia_value=Customer['Indonesia'].value_counts()
Malta_value=Customer['Malta'].value_counts()
India_value=Customer['India'].value_counts()
print(Phillippines_value)
print(Indonesia_value)
print(Malta_value)
print(India_value)

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [16]:
chiStats = sp.stats.chi2_contingency([[271,267,269,280],[29,33,31,20]])
print('Test t=%f p-value=%f' % (chiStats[0], chiStats[1]))
print('Interpret by p-Value')
if chiStats[1] < 0.05:
  print('we reject null hypothesis')
else:
  print('we accept null hypothesis')

Test t=3.858961 p-value=0.277102
Interpret by p-Value
we accept null hypothesis

In [17]:
alpha = 0.05
critical_value = sp.stats.chi2.ppf(q = 1 - alpha,df=chiStats[2])
print('critical_value:',critical_value)
observed_chi_val = chiStats[0]
print('Interpret by critical value')
if observed_chi_val <= critical_value:
       print ('Null hypothesis cannot be rejected (variables are not related)')
else:
       print ('Null hypothesis cannot be excepted (variables are not independent)')

critical_value: 7.814727903251179
Interpret by critical value
Null hypothesis cannot be rejected (variables are not related)

In [18]:
####Inference is that proportion of defective % across the center is same